In [391]:
import nltk
import pandas as pd
import numpy as np
import sys

ids = pd.read_csv('car_model_ids.csv', header=0)
ids = ids.sort_values(by=['brand_id'])
data = pd.read_csv('entire_data_Mentioned_4th.csv', header=0).iloc[:, 1:] ## because the first column are indexes

import re
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()

## Generate a list of brand names

In [393]:
unique_brand=[]
for x in ids.brand:
    if x not in unique_brand:
         unique_brand.append(x)
len(unique_brand)

40

## add 40 new columns to the dataframe, each named by a brand name

In [394]:
data=pd.concat([data,pd.DataFrame(columns=unique_brand)])
data = data.replace(np.nan, 0)
data.brand_id = data.brand_id.astype(int)

In [397]:
len(data.columns) ## 7 descriptive columns plus 40 brand columns

47

### check if the detected brand_id in the review equals to the brand_id of a brand name

In [398]:
for i in range(len(data)):
    for y in range (40):
        if data.brand_id[i] == y+1:
            data.iloc[i,y+7] = 1 ## because the brand columns starts from the 7th column

In [399]:
data.to_csv("PyShark.csv")


## get only the brand columns and org_ids

In [415]:
data_record = data.iloc[0:,6:]

## add up the occurences of brand names in a single review (group by org_id)

In [417]:
data_condensed=data_record.groupby(['org_id']).sum()

In [419]:
data_condensed.to_csv("PyShark_condensed.csv")

In [420]:
data_condensed

,ACURA,AUDI,BMW,BUICK,CADILLAC,CHEVROLET,CHRYSLER,DAEWOO,DODGE,FORD,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
org_id,,,,,,,,,,,,,,,,,,,,,
36.0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40.0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310083.0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310085.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310087.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310091.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310093.0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## replace all values > 1 with 1

In [421]:
data_condensed = data_condensed.apply(lambda x: [y if y <= 1 else 1 for y in x])  ## replace all values > 1 with 1

In [422]:
data_condensed.describe()

,ACURA,AUDI,BMW,BUICK,CADILLAC,CHEVROLET,CHRYSLER,DAEWOO,DODGE,FORD,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
count,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,...,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000,63807.000000
mean,0.062830,0.042393,0.096102,0.017443,0.026784,0.080524,0.023179,0.000439,0.041751,0.115849,...,0.018509,0.008573,0.010234,0.020358,0.007382,0.034698,0.009137,0.183679,0.046421,0.024214
std,0.242659,0.201487,0.294734,0.130917,0.161453,0.272105,0.150474,0.020944,0.200021,0.320047,...,0.134784,0.092192,0.100645,0.141224,0.085599,0.183016,0.095150,0.387225,0.210397,0.153713
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### follow the instruction from Pyshark:  (basically the ap and fp methed generates the same results except ordered differently)
### https://pyshark.com/market-basket-analysis-using-association-rule-mining-in-python/

In [424]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets_ap = apriori(data_condensed, min_support=0.001, use_colnames=True) ## the min_support could be modified

In [425]:
frequent_itemsets_ap

      support                          itemsets
0    0.062830                           (ACURA)
1    0.042393                            (AUDI)
2    0.096102                             (BMW)
3    0.017443                           (BUICK)
4    0.026784                        (CADILLAC)
..        ...                               ...
354  0.001081    (HONDA, FORD, HYUNDAI, TOYOTA)
355  0.001113      (HONDA, FORD, TOYOTA, MAZDA)
356  0.002006     (NISSAN, HONDA, FORD, TOYOTA)
357  0.001489  (NISSAN, HONDA, HYUNDAI, TOYOTA)
358  0.001567    (NISSAN, HONDA, TOYOTA, MAZDA)

[359 rows x 2 columns]

In [426]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets_fp=fpgrowth(data_condensed, min_support=0.001, use_colnames=True) ## the min_support could be modified

In [427]:
print(frequent_itemsets_fp)

      support            itemsets
0    0.096102               (BMW)
1    0.062830             (ACURA)
2    0.036454          (INFINITI)
3    0.171596             (HONDA)
4    0.044588     (MERCEDES-BENZ)
..        ...                 ...
354  0.001316    (HONDA, MERCURY)
355  0.001238  (LINCOLN, MERCURY)
356  0.001458   (MERCURY, TOYOTA)
357  0.001411     (HONDA, SUZUKI)
358  0.001599    (TOYOTA, SUZUKI)

[359 rows x 2 columns]

### evaluate the lift based on the mlxtend guide:
### http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [428]:
from mlxtend.frequent_patterns import association_rules

rules_ap = association_rules(frequent_itemsets_ap, metric="lift", min_threshold=1.1)
rules_fp = association_rules(frequent_itemsets_fp, metric="lift", min_threshold=1.1) # the min_threshold could be modified

In [429]:
rules_ap

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(AUDI),(ACURA),0.042393,0.062830,0.005752,0.135675,2.159390,0.003088,1.084279
1,(ACURA),(AUDI),0.062830,0.042393,0.005752,0.091544,2.159390,0.003088,1.054103
2,(BMW),(ACURA),0.096102,0.062830,0.012318,0.128180,2.040106,0.006280,1.074958
3,(ACURA),(BMW),0.062830,0.096102,0.012318,0.196059,2.040106,0.006280,1.124333
4,(INFINITI),(ACURA),0.036454,0.062830,0.005799,0.159071,2.531770,0.003508,1.114446
...,...,...,...,...,...,...,...,...,...
823,"(TOYOTA, MAZDA)","(NISSAN, HONDA)",0.009278,0.020672,0.001567,0.168919,8.171501,0.001375,1.178379
824,(NISSAN),"(HONDA, TOYOTA, MAZDA)",0.105662,0.005297,0.001567,0.014832,2.800031,0.001008,1.009679
825,(HONDA),"(NISSAN, TOYOTA, MAZDA)",0.171596,0.002508,0.001567,0.009133,3.642285,0.001137,1.006687
826,(TOYOTA),"(NISSAN, HONDA, MAZDA)",0.183679,0.002617,0.001567,0.008532,3.260050,0.001086,1.005966
827,(MAZDA),"(NISSAN, HONDA, TOYOTA)",0.042629,0.011221,0.001567,0.036765,3.276321,0.001089,1.026518

In [430]:
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(BMW, HONDA)",(TOYOTA),0.006911,0.183679,0.002100,0.303855,1.654272,0.000831,1.172631
1,"(BMW, TOYOTA)",(HONDA),0.006034,0.171596,0.002100,0.348052,2.028327,0.001065,1.270660
2,(HONDA),"(BMW, TOYOTA)",0.171596,0.006034,0.002100,0.012239,2.028327,0.001065,1.006282
3,(TOYOTA),"(BMW, HONDA)",0.183679,0.006911,0.002100,0.011433,1.654272,0.000831,1.004574
4,"(HONDA, BMW)",(NISSAN),0.006911,0.105662,0.001191,0.172336,1.631002,0.000461,1.080556
...,...,...,...,...,...,...,...,...,...
823,(RAM),(FORD),0.008573,0.115849,0.001599,0.186472,1.609605,0.000605,1.086810
824,(MERCURY),(FORD),0.011049,0.115849,0.002931,0.265248,2.289596,0.001651,1.203332
825,(FORD),(MERCURY),0.115849,0.011049,0.002931,0.025298,2.289596,0.001651,1.014618
826,(LINCOLN),(MERCURY),0.026988,0.011049,0.001238,0.045877,4.152151,0.000940,1.036503
827,(MERCURY),(LINCOLN),0.011049,0.026988,0.001238,0.112057,4.152151,0.000940,1.095805